*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html, body {
    max-width: 100%; /* Ensures the layout doesn't overflow */
}
body {
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.container 
{
    padding: 5px 10%;
}
.navbar 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo
{
    width: 100px;
}

.navbar ul li 
{
    display: inline-block;
    list-style: none;
    margin: 5px 10px;

}

.navbar ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}   

.navbar ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar ul li a:hover::after 
{
    width: 100%;
}

/*---------------About---------------*/
#about
{
    padding: 80px 0;
    color: #ababab;
}
.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1
{
    flex-basis: 35%;
}
.about-col-1 img
{
    width: 100%;
    border-radius: 15px;
}
.about-col-2 
{
    flex-basis: 60%;
}
.sub-title
{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles
{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #2600ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after
{
    width: 50%;
}
.tab-contents ul li
{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span
{
    color: rgb(73, 62, 233);
    font-size: 14px;
}
.tab-contents
{
    display: none;
}
.tab-contents.active-tab
{
    display: block;
}
/*----------------services----------------*/
#services
{
    padding: 30px 0;

}
.services-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div
{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i
{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a
{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover
{
    background: #2f00ff;
    transform: translateY(-10px);
}
/*------------portfolio-------------------*/
#portfolio
{
    padding: 50px 0;
}
.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img
{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer
{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #4f0aa8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3
{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a
{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 13px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img
{
    transform: scale(1.1);
}
.work:hover .layer
{
    height: 100%;
}
.btn
{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: none;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover
{
    background: #1900ff;
    
}

/*--------------------Contact------------------*/
.contact-left
{
    flex-basis: 35%;
}
.contact-right
{
    flex-basis: 60%;
}
.contact-left p
{
    margin-top: 30px;
}
.contact-left p i
{
    color: #00d9ff;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons
{
    margin-top: 30px;
}
.social-icons a
{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover
{
    color: #00fff2;
    transform: translateY(-5px);
}
.btn.btn2
{
    display: inline-block;
    background: #00d9ff;
}
.contact-right form
{
    width: 100%;
}
form input, form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2
{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright
{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: black;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i
{
    color: #1900ff;
}
.loading-spinner {
    display: none;
    text-align: center;
    margin: -50px 0;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #ff004f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
/* CSS for Certificates Section */
.certificates {
    color: #333;
    padding: 50px 0;
  }
  
  
  .certificate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .certificate {
    width: 48%; /* Adjust width as needed */
    margin-bottom: 20px;
  }
  
  .certificate img {
    width: 100%;
    border-radius: 8px;
  }
  
  .certificate-info {
    padding: 20px;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .certificate-info h2 {
    margin-top: 0;
    font-size: 18px;
    color: #15c1ec;
  }
  
  .certificate-info p {
    color: #faf4f4;
  }
  
  .certificate {
    position: relative;
  }
  
  .certificate-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
  }
  
  .certificate-overlay a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0011ff; /* Button background color */
    border-radius: 5px;
  }
  
  .certificate:hover .certificate-overlay {
    opacity: 1; /* Show overlay on hover */
  }
  
  
  

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

   
/*--------------CSS or small screens--------------*/
nav .fas
{
    display: none;
}

@media only screen and (max-width: 600px)
{
    
    .header{
        margin-top: none;
        font-size: 16px;
        width: 100%;
    }
    .header-text h1{
        font-size: 30px;
    }

    .navbar {
        padding-top: 0%;
        display: flex;
        justify-content: space-between; /* Align items */
        align-items: center; /* Center vertically */
    }

    .navbar ul {
        flex-direction: column; /* Stack items vertically */
        display: none; /* Keep it hidden until toggle */
        height: 40vh;
        padding-top: 20px;
    }

    .navbar ul {
        display: flex; /* Show the menu when active */
    }

    .navbar .fas{
        position: absolute;
        top: 5px;
        left: 5px;
        cursor: pointer;
    }

    .navbar ul li {
        padding-top: 2px;
        margin: 2px 0; /* Space between items */
        text-align: center; /* Center text for vertical layout */
    }

    .sub-title{
        font-size: 20px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 15px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

    .header {
        padding: 10px; /* Adjust padding for smaller screens */
        width: 100%;
      }
    
      .logo {
        font-size: 20px; /* Decrease font size for the logo */
      }

      .navbar a {
        display: block; /* Ensure each link occupies full width */
        padding: 10px 0; /* Add padding to each link */
      }
    
      #menu-icon {
        display: block; /* Display the menu icon */
        left: 20px;
      }

    .certificate-list {
        flex-direction: column; /* Stack certificates vertically */
      }
    
      .certificate {
        width: 100%; /* Occupy full width */
        margin-bottom: 20px; /* Adjust spacing between certificates */
      }
}
#msg
{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
